<template>
  <div>

    <el-container>

      <el-aside class="dashboard">
            <div>
    <VueSlideToggle :open="open" tag="section" :duration="500">
        <el-row class="tac">
          <el-col :span="24">
            <div class="header_dashboard">
              <p>Меню</p>
            </div>

            <el-menu
              default-active="2"
              class="el-menu-vertical-demo"
              background-color="#545c64"
              text-color="#fff"
              active-text-color="#ffd04b">
              <a v-for="(nav, i) in navs" :href="`#nav_${i}`" v-smooth-scroll>
                <el-menu-item :index="`${i}`">
                  <i class="fa fa-pie-chart" aria-hidden="true"></i>
                  <span>{{ nav }}</span>
                </el-menu-item>
              </a>
            </el-menu>

          </el-col>
        </el-row>
           </VueSlideToggle>
            </div>  
      </el-aside>
             
      <el-button @click="open = !open" class="mobile-menu"><i class="fa fa-bars" aria-hidden="true"></i></el-button>
      <el-container class="main-block">  
        <el-main>
          <task1></task1>
          <task2></task2>
          <task3></task3>
          <task4></task4>
          <task5></task5>
          <task6></task6>
        </el-main>
      </el-container>

    </el-container>

  </div>
</template>



<script>
export default {
  data() {
    return {
      navs: ["Задание 1", "Задание 2", "Задание 3", "Задание 4", "Задание 5", "Задание 6"],
      open: true,
    };
  },
  methods: {
    handleOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>
