body{
    margin:0;
    font-family: "Roboto-Light";
    background-color:#edf0f0;

}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


@font-face {
  font-family: "Roboto-Regulars";
  src: url("assets/fonts/RobotoRegular/RobotoRegular.eot");
  src: url("assets/fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"),
   url("assets/fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("assets/fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Light";
  src: url("assets/fonts/RobotoLight/RobotoLight.eot");
  src: url("assets/fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"),
   url("assets/fonts/RobotoLight/RobotoLight.woff") format("woff"),
   url("assets/fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("assets/fonts/RobotoMedium/RobotoMedium.eot");
  src: url("assets/fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"),
   url("assets/fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
   url("assets/fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("assets/fonts/RobotoBold/RobotoBold.eot");
  src: url("assets/fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"),
   url("assets/fonts/RobotoBold/RobotoBold.woff") format("woff"),
   url("assets/fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.dashboard{
    width: 224px !important;
    background-color: rgb(84, 92, 100);
    position: fixed;
    height: 100%;
}

.dashboard .el-menu-vertical-demo{
    border-right: 0;
}

.header_dashboard{
    color: rgb(255, 255, 255);
    position: relative;
    height: 60px;
}

.header_dashboard p{
    margin: 0;
    padding-left: 20px;
    padding-left: 20px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    font-size: 20px;
    font-family: "Roboto-Regulars";
}

.blocks_dashboard{
    width: 100%;
    float: left;
}

.blocks_dashboard ul{
    padding-left: 0;
    margin-top: 0;
}

.blocks_dashboard li{
    float: left;
    list-style: none;
    width: calc(100%/5);
    padding-top:15px;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    vertical-align: middle;
    color: #ff912a;
    background-color: rgb(255, 208, 75);
    cursor: pointer;
}

.dashboard .el-menu-vertical-demo i{
    width: 18px;
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
}



.blocks_dashboard li:hover{
    background-color: rgb(255, 225, 141);
    transition: border-color .3s, background-color .3s, color .3s;
}

.main-block{
    margin-left: 224px;
    position: relative;
}



/* NEW  */
.el-main{
    max-width: 1366px;
}


.one-task{
    width: 100%;
    height: 100vh;
    float: left;
    min-height: 700px;
}

.el-main >.one-task:nth-child(1),.el-main >.one-task:nth-child(3){
    height: auto;
}


.my-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.my-img img{
    width: 100%;
    border-radius: 100%;
    box-shadow: -2px 2px 10px 0px #0000003d;
}

.contacts-icons{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

.contacts-icons>button,.contacts-icons>a {
    flex-grow: 1;
}

.my-contacts{
    text-align: center;
}

.button-copy{
    width: 100%;
}

.about-me{
    padding-left: 40px;
}

.about-me h1{
    margin-top: 0;
    font-size: 30px;
}

/* Task2 */



button, 
button:active, 
button:focus {
    outline: none;
}

.el-checkbox, .el-checkbox span:nth-child(2),.el-checkbox__input.is-checked+.el-checkbox__label {
    color: black !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: initial;
}

.el-checkbox__inner::after{
    border-color: black !important;
}
.mobile-menu{
display: none;
}
@media screen and (max-width: 1199px){
    .contacts-icons{
        display: block;
        text-align: center;
    }
    .about-me h1 {
        margin-top: 25px;
    }
}

@media screen and (max-width: 1024px){
    .one-task{
        height: auto;
        min-height: auto;
    }
    .el-container{
        width: 100%;
        display: block;
    }
    .mobile-menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10000;
    }

    .dashboard{
        position: absolute;
        right:0;
        top: 0;
        background-color: initial;
        height: auto;
        z-index: 999;
        display: block;
    }
    .header_dashboard{
        display:none;
    }
    .main-block{
        margin-left: 0;
    }
    .el-menu-vertical-demo{
        padding-top: 65px;
        padding-bottom: 30px;
    }
    .about-me{
        padding: 0;
    }
    .my-buttons p, .about-me p{
        width: 100% !important;
    }
    .about-me p:nth-of-type(5){
        word-break: break-all;
    }
}

@media screen and (max-width: 500px){
    .my-contacts .fa-2x {
        font-size: 1em;
    }
    .my-contacts .button-copy {
        padding: 12px 8px;
    }
    h2{
        font-size: 20px;
    }
    .my-form{
        width: 247px !important;
        height: 100% !important;
        padding: 15px !important;
    }
    .box {
        width: 100% !important;
    }
    .el-notification{
        width: 90% !important;  
    }
    .el-tag {
        margin: 5px;
    }
}

.el-menu-vertical-demo a{
    text-decoration: none !important;
}

