<template>  
    <el-row id="nav_1" class="one-task"> 
        <h2>Задание2 - Кнопка на все случаи жизни</h2>
        <el-col :span="24" class="my-buttons">
            <button class="my-botton">Button</button> - Наведи и кликни
        <el-button-group class="group-button">
            <el-button>Left</el-button>
            <el-button>Middle</el-button>
            <el-button>Right</el-button>
        </el-button-group>

        <p>Из за этого получается, что <span>Mac OS X</span> контент в окнах будет следовать за движением пальца (т.е. reverse scrolling), а в Windows вы будете двигать ползунок на экране, а сам конент будет ехать в другую сторону.</p>


        </el-col>
    </el-row>
</template>



<script>

export default {
    name: "task2",
    data() {
      return {
        labelPosition: 'right',
        formLabelAlign: {
          name: '',
        }
      };
    },
    methods: {
      handleClick(tab, event) {
        console.log(tab, event);
      },
    }
};

</script>

<style lang="css" scoped>
.my-botton{
    border-radius: 4px;
}
.group-button{
    padding-top: 40px;
    padding-bottom: 60px;
    width: 100%;
}

.one-task button{
    padding:8px 20px 8px 20px;
    background-color: #e5e8ec;
    cursor: pointer;
    border: 1px solid #c9ced6;
    color: #333333;
    font-size: 17px;
    font-family: "Roboto-Regulars";
    transition: all 0.3s;
}

.one-task button:hover{
    background-color: #c9ced6;
    color: initial;
    border-color: #c9ced6;
}

.one-task button:active, .one-task button:focus{
    background-color: #3366cc;
    border: 1px solid #3366cc;
    color: white;
}
p span{
    padding:8px 6px 8px 6px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #e5e8ec;
    border: 1px solid #c9ced6;
    color: #333333;
    font-size: 17px;
    font-family: "Roboto-Regulars";
    transition: all 0.3s;
    display: inline-block;
    border-radius: 4px;
}
p{
    width: 670px;
}
</style>
