<template>

    <el-row id="nav_2" class="one-task">
        <h2>Задание 3 - Форма</h2>
        <el-col :span="24" >
            <div class="my-form">
                <h3>Регистрация</h3>
                <a href="#" class="button-soc vk">Регистрация из Вконтакте </a>
                <a href="#" class="button-soc fb">Регистрация из Facebook</a>
                <VueSlideToggle :open="open" tag="section" :duration="500">
                    <a href="#" class="button-soc gg">Регистрация из Google Plus </a>
                    <a href="#" class="button-soc ya">Регистрация из <span>Яндекс</span></a>
                </VueSlideToggle>
                <p @click="open = !open " class="other">{{ btnText }} <i :class="{ activearrow: !open}" class="el-icon-arrow-down"></i></p> 
                <p class="or">или</p> 
                <el-form :model="ruleForm2" status-icon :rules="rules2" ref="ruleForm2" class="demo-ruleForm">
                    <el-form-item  prop="login">
                        <el-input v-model.number="ruleForm2.login" placeholder="Ваш логин или Email"></el-input>
                    </el-form-item>
                    <el-form-item  prop="pass">
                        <el-input type="password" auto-complete="off" v-model.number="ruleForm2.pass" placeholder="Пароль"></el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-checkbox fill="#409EFF" v-model="checked" class="checkbox-form">Запомнить меня</el-checkbox>
                        <el-button class="forgot-pass" type="text">Забыли пароль?</el-button>
                    </el-form-item>
                    <el-form-item>
                        <el-button class="reg" type="primary" @click="submitForm('ruleForm2')">Зарегистрироваться</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-col>
    </el-row>


</template>

<script>

export default {
    name: "task3",
    data() {
         var checklogin = (rule, value, callback) => {
       if (value == null) {
          callback(new Error('Пожалуйста, введите логин или Email'));
        } else {
          if (this.ruleForm2.checklogin !== '') {
            this.$refs.ruleForm2.validateField('checklogin');
          }
          callback();
        }
      };
       var checkpass = (rule, value, callback) => {
       if (value == null) {
          callback(new Error('Пожалуйста, введите пароль'));
        } else {
          if (this.ruleForm2.checkpass !== '') {
            this.$refs.ruleForm2.validateField('checkpass');
          }
          callback();
        }
      };
      return {
        open: false,
        ruleForm2: {
          checklogin: '',
          checkpass: ''
        },
        rules2: {
        pass: [
            { validator: checkpass, trigger: 'blur' }
          ],
          login: [
            { validator: checklogin, trigger: 'blur' }
          ]
        },
        checked: true
      };
    },
    computed: {
      btnText: function() {
        if(this.open) {
            return 'Скрыть'
        }
        return 'Другие'
      }
    },
    methods: {
      handleClick(tab, event) {
        console.log(tab, event);
      },
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.$notify({
                title: "Добро пожаловать!",
                message: "Вы успешно зарегистрировались в системе!",
                type: "success"
            });
          } else {
            console.log('Ошибка регистрации');
            return false;
          }
        });
      },
    }
};

</script>

<style scoped>

.el-icon-arrow-down{
    transform: rotate(180deg);
    transition: all 0.3s;
}
.activearrow{
    transform: rotate(0deg);
    transition: all 0.3s;
}

.my-form{
    width: 280px;
    height: 100%;
    padding: 42px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 3px 0px #0000002b;
    border-radius: 3px;
    text-align: center;
}
 
.my-form h3{
    font-size: 20px;
    margin-bottom: 35px;
    margin-top: 0;
}

.my-form .button-soc{
    font-size:16px;
    background-color: #3b5f94;
    border: 2px solid #3b5f94;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white !important;
    font-family: "Roboto-Regulars";
    display: block;
    text-decoration: none;
    margin-bottom: 12px;
    transition: all 0.3s;
}
.my-form .button-soc:hover{
    opacity: 0.8;
}
.my-form .fb{
    background-color: #323c89;
    border-color: #323c89;
}
.my-form .gg{
    background-color: #f94e3b;
    border-color: #f94e3b;
}
.my-form .ya{
    background-color: inherit;
    border-color: #f94e3b;
    color: black !important;
}
.my-form .ya span{
    color: #f94e3b;
}

.other{
    text-align: right;
    font-family: "Roboto-Regulars";
    color: #52ac62;
    cursor: pointer;  
    margin-top: 0;
    margin-bottom: 28px;  
}
.or{
    font-size: 14px;
    color: #cdd0d4;
}

.checkbox-form{
    float: left;

}

.el-checkbox, .el-checkbox span:nth-child(2),.el-checkbox__input.is-checked+.el-checkbox__label {
    color: black !important;
}

.forgot-pass{
    float: right;
    padding-top: 13px;
}

.reg{
    font-size:16px;
    background-color: #52ac62;
    border: 2px solid #52ac62;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    color: white !important;
    font-family: "Roboto-Regulars";
    display: block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 12px;
    transition: all 0.3s;
    margin-bottom: 0;
}

form > div:nth-child(4){
    margin-bottom: 0 !important;
}
</style>
