<template>

    <el-row id="nav_4" class="one-task">
        <h2>Задание 5 - Индикатор загрузки</h2>
        <el-col :span="24" >
            <div class="pie pie-big p4"></div>
            <div class="pie p3"></div>
        </el-col>
    </el-row>
</template>

<style scoped>
.pie {
    display: inline-block;
    margin: 0.5em;
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 50%;

}

.pie:after {
    border-radius: 50%;
    display: block;
    content: "";
    background: #edf0f0;
    position: absolute;
    left: 5px;
    top: 5px;
    height: 140px;
    width: 140px;
}
.p3{
    margin-left: 18px;
    margin-top: 18px;
}
.p3,.p4 {
  background-image: linear-gradient(150deg, transparent 50%, steelblue 50%),
                    linear-gradient(90deg, #ddd0 50%, steelblue 50%);
}
.pie-big{
    width: 170px;
    height: 170px;
    transform: rotate(-146deg);
    position: absolute;
    animation-name: spin;
        animation-duration: 4000ms ;
    animation-iteration-count: infinite ;
    animation-timing-function: linear ;
    animation-direction: reverse;
}
.pie-big:after{
    height: 160px !important;
    width: 160px !important;
}
.p3  {
    z-index: 100;
 
    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
 
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


</style>
