<template>
    <el-row id="nav_0" class="one-task"> 
        <h2>Задание 1 - Обо мне</h2>
        <el-col :md="24" :lg="8" class="my-contacts">
            <div class="my-img">
                <img src="./assets/me.jpg" alt="Кожин Родион">
            </div>
        <el-row class="contacts-icons">
            <a href="https://vk.com/away.php?to=https%3A%2F%2Fjoin.skype.com%2Finvite%2FdFqNNdZnkcTE&cc_key=" target="blank">
                <el-button round>
                    <i class="fa fa-skype fa-2x"></i>
                </el-button>
            </a>
            <a href="https://vk.com/away.php?utf=1&to=https%3A%2F%2Ft.me%2FBlackHunfer" target="_blank">
                <el-button round>
                    <i class="fa fa-telegram fa-2x"></i>
                </el-button>
            </a>
            <a>
                <el-button round
                v-clipboard:copy="phone"
                v-clipboard:success="onCopyPhone"
                v-clipboard:error="onError">
                    <i class="fa fa-phone fa-2x"></i>
                </el-button>
            </a>
            <a href="https://vk.com/rody21" target="_blank">
                <el-button round>
                    <i class="fa fa-vk fa-2x"></i>
                </el-button>
            </a>
        </el-row>
    <el-button type="success"
      v-clipboard:copy="contacts"
      v-clipboard:success="onCopy"
      v-clipboard:error="onError" class="button-copy">Скопировать контакты в буфер обмена</el-button>
        </el-col>
        <el-col :md="24" :lg="16" class="about-me">
            <h1>Кожин Родион</h1>
            <p>Профессионально работаю Веб-разработчиком уже больше 3 лет.</p>
            <p><b>Моя вёрстка совершенна, потому что:</b></p>
            <ul>
                <li>Адаптивная</li>
                <li>Кроссбраузерная</li>
                <li>Валидная</li>
                <li>Семантическая</li>
                <li>Практически 100 балльные оценки на сервисе Google PageSpeed insight</li>
                <li>SEO-оптимизированная</li>
                <li>Полностью соответствует макету</li>
                <li>Вау-эффект от промо-сайтов</li>
            </ul>
            <p><b>Владею:</b></p>
            <ul>
                <li>HTML, CSS(+Сложные анимации), Less (Bootstrap), JS(на базовом уровне для работы с плагинами и фреймвораками), БЭМ, SVG спрайты</li>
                <li>Gulp, Grunt, Webpack</li>
                <li>Git, FTP</li>
                <li>OpenServer</li>
                <li>PHP Laravel (начальный уровень)</li>
                <li>Vue.js (начальный уровень, Element-UI)</li>
                <li>MySQL</li>
                <li>СMS Umbraco, CMS MODX (После Laravel любая CMS проста в изучении)</li>
                <li>Adobe Photoshop, Adobe Illustrator, Figma</li>
            </ul>
            <p><b>Живые примеры моих работ: </b></p>
            <ul>
                <li><a href="http://v-bm.ru/" target="_blank">http://v-bm.ru/</a> (тестовый домен) - Промо-лендинг "Атлант"</li>
                <li><a href="http://zakz.v-bm.ru/" target="_blank">http://zakz.v-bm.ru/</a> (тестовый домен) - Агентство по подбору моделей "Zaks"</li>
                <li><a href="https://nwc-em.ru" target="_blank">https://nwc-em.ru</a> - Аренда и продажа спец-техники "Электромаш"</li>
                <li><a href="http://7toporov.ru" target="_blank">http://7toporov.ru </a>- Лендинг для фирмы "7Toporov"</li>
                <li><a href="http://личныйбонус.рф" target="_blank">http://личныйбонус.рф</a> - Сервис по кeшбеку с покупок "Личный бонус"</li>
                <li><a href="http://service-men.ru" target="_blank">http://service-men.ru</a> - Интернет магазин для вентиляционного оборудования</li>
                <li><a href="http://piterled.su" target="_blank">http://piterled.su</a> - Интернет магазин для Led оборудования</li>
                <li><a href="http://amirspectrans.ru" target="_blank">http://amirspectrans.ru</a> - Сервис по аренде манипулятора</li>
                <li><a href="http://fonari-spb.ru" target="_blank">http://fonari-spb.ru</a> - Меню для ресторана вьетнамской кухни "Фонари" </li>
                <li>И множество других</li>
            </ul>
            <p>Больше обо мне на <a href="https://spb.hh.ru/resume/9a8b6a80ff0593be870039ed1f73556b47764a" target="_blank">https://spb.hh.ru/resume/9a8b6a80ff0593be870039ed1f73556b47764a</a> , <a href="https://spb.hh.ru/resume/431acf64ff059d80210039ed1f434471454d30" target="_blank">https://spb.hh.ru/resume/431acf64ff059d80210039ed1f434471454d30</a><br><br>
            С уважением, Кожин Родион.</p>
        </el-col>
    </el-row>
</template>

<script>
export default {
  data() {
    return {
      contacts:
        "Кожин Родион - Skype: baikal1215; Telegram: @black_hunfer; Номер телефона: 8 (900) 624-84-80; Vk.com: https://vk.com/rody21",
      phone: "89006248480"
    };
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event);
    },
    onCopy() {
      this.$notify({
        title: "Успешно",
        message: "Контакты успешно скопированы в буфер обмена",
        type: "success"
      });
    },
    onError() {
      this.$notify.error({
        title: "Ошибка",
        message: "Контакты не скопированы в буфер обмена"
      });
    },
    onCopyPhone() {
      this.$notify({
        title: "Успешно",
        message: "Номер телефона скопирован в буфер обмена: 89006248480",
        type: "success"
      });
    },
    onError() {
      this.$notify.error({
        title: "Ошибка",
        message: "Контакты не скопированы в буфер обмена"
      });
    }
  }
};
</script>